body{
	width : 180px;
}

#scr {
	padding : 20px;
	width : 200px;
}

#container {
	position : absolute;
	left : 40%;
	top : 20%;
	border : 5px;
	border-color : Blue;
	border-style : inset;
	padding : 10px;
}

hr {
	width : 180px;
	position : absolute;
	left : 0;
}

button {
	margin : 15px 0 0 0;
	padding : 15px;

}

